body {
  background-color: #cccc99;
}

/* ----- both -------- */

.both {
  width: 700px;
  margin: 0 auto;
}

/* ----- current time -------- */

.box_current_time {
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.line_current_time {
  border: 1px solid black;
  box-shadow: 2px 2px 4px 0px #000;
  margin: 15px auto;
  width: 100%;
  height: 10px;
}
.line_current_time_position {
  background-color: #990099;
  height: 10px;
}

/* ----- controls -------- */

.controls {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.control_left {
  margin: 10px 10px 20px;
  display: flex;
}
.control_right {
  margin: 10px 10px 20px;
  display: flex;
}
.a_button {
  display: block;
  width: 50px;
  height: 15px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: #330033;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 0.09em;
  line-height: 14px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid white;
}
.unSelected {
  box-shadow: 6px 8px 7px 0px #000;
  transition: all 0.1s ease-out;
}
.selected {
  box-shadow: 2px 3px 4px 0px #000;
  transition: all 0.1s ease-out;
}

/* ----- volume ----- */

.volume {
  border: 1px solid black;
  box-shadow: 2px 2px 4px 0px #000;
  margin: 18px 10px 0;
  width: 100px;
  height: 10px;
  cursor: pointer;
}
.volume_position {
  background-color: #990099;
  height: 10px;
  appearance: slider-horizontal;
  color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  margin: 0;
}

/* ----- searcher -------- */

.searcher {
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.input_searcher {
  box-shadow: 2px 2px 4px 0px #000;
  height: 20px;
  margin: 20px auto;
  padding-left: 5px;
  width: 98%;
}

/* ----  audio selection  ----- */

.audioBox {
  width: 100%;
  margin: 5px 0;
}
.boxTitle {
  width: 100%;
  display: flex;
  margin-bottom: 7px;
}
.btnAudioSelection {
  display: flex;
  width: 100%;
  border: none;
  margin: 5px auto;
  text-align: start;
  overflow: hidden;
}
.artist {
  display: block;
  width: 200px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  padding: 5px 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.title {
  display: block;
  width: 400px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  line-height: 16px;
  padding: 5px 5px 0;
  white-space: nowrap;
}
.duration {
  display: block;
  width: 100px;
  float: right;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  padding: 5px 5px 0;
  text-align: end;
}

.boxTitle .artist,
.boxTitle .title,
.boxTitle .duration {
  cursor: default;
}
.boxAudioSelection .artist,
.boxAudioSelection .title,
.boxAudioSelection .duration {
  cursor: pointer;
}
.boxTitle .unSelected,
.boxAudioSelection .unSelected {
  color: aliceblue;
  background-color: black;
  font-weight: 500;
  box-shadow: 2px 3px 4px 0px #000;
  transition: all 0.1s ease-out;
}
.boxAudioSelection .selected {
  color: black;
  background-color: aliceblue;
  box-shadow: 3px 4px 7px 0px #000;
  transition: all 0.1s ease-out;
}
